

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<style>
  body {
      position: relative; 
  }
  #energy2 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #energy1 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #energy3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}  
  #energy4 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  </style>


<div id="energy1" class="container-fluid">
  <h1>West Virginia: Rate Hikes, Lack of Efficiency Programs</h1>

  <p>West-virginiaCommercial businesses as well as residential consumers in West  Virginia are facing rate hikes and lack programs to drive efficiency and cost savings, according to the West Virginia Gazette Mail.</p>

  <p>The story says that FirstEnergy and American Electric Power both have received rate increases of $62.5 million and $123.5 million this year. More hikes are pending.</p>

  <p>However, the story says that the state lags behind others – including its neighbors – in offering programs such as energy audits, home appliance replacements, low-income weatherization and energy efficient lighting.</p>

  <p>The state’s public service commission has not pushed the utilities to start new programs or expand those that are in place. The utilities claim that business and residential customers are reluctant to participate in such programs because of the West Virginia’s already low electricity rates.</p>

  <p>Last month, The Texas Tribune reported that Texas jumped from 34th to 26th spot in rankings of energy efficiency from the American Council for an Energy-Efficiency Economy. The study looked at state initiatives, building codes, combined heat and power, utility policies, transportation and appliance efficiency, the story said.</p>
</div>

<div id="energy2" class="container-fluid">
  <h1>Walmart, Apple Lead On-Site Renewables Challenge</h1>

  <p>Walmart, Apple and the US Department of Energy are the top three on-site renewable power users, according to the US Environmental Protection Agency’s list of Green Power Partners. Coca-Cola and General Motors round out the top five.</p>

  <p>As of October 26, 307 organizations have joined the EPA’s Green Power Partnership, using a total of more than 1.1 billion kWh of on-site renewable power.</p>

  <p>The Partnership tracks all Partners’ annual combined on-site renewable energy use and updates the Top Partner lists on a quarterly basis. Since releasing the July Top Partner list, Partner organizations’ use of on-site renewable energy has increased by almost 30 million kWh.</p>

  <p>The Green Power Partnership launched the On-Site Renewables Challenge in 2014 with the goal of doubling the use of on-site green power by Green Power Partners by the end of the decade.</p>
</div>

<div id="energy3" class="container-fluid">
  <h1>BaseLayer to Use Siemens’ Technology in its Modular Data Centers</h1>
  
  <p>BaseLayer Technology will integrate technology from Siemens into its modular data centers. The agreement includes intelligent power distribution, control and metering and fire safety technology.</p>

  <p>BaseLayer, which manufactures modular data centers that can be deployed wherever they are needed, will use Siemens’ intelligent busway technology to reduce the footprint within modules and free space for IT equipment. The busway has the flexibility to provide localized power distribution.</p>

  <p>The goal is to improve on its saving benchmark of 19 percent energy savings and $200,000 per MW of operational savings. Siemens says that its technology will provide greater insight into the data center’s power flow, which will lead to greater energy efficiency and operating flexibility and savings.</p>

  <p>In August, BaseLayer unveiled the SRP DataStation, a prototype modular data design. The idea, according to The Arizona Republic, is to power datacenters by bypassing the grid and connect directly to the utility’s infrastructure.</p>
</div>

<div id="energy4" class="container-fluid">
  <h1>Accounting for nature: how the accountancy profession can help conservation</h1>
  
  <p>Natural Capital is the world’s stock of natural resources. It encompasses goods (such as food, fuel, medicine, and all living things) and services (such as climate regulation, clean water and carbon storage) that are essential to our well-being.</p>

  <p>Unfortunately natural capital is under threat: each year we are consuming 50% more of our planet’s resources than it can replenish. This is creating huge risks for our welfare, and for business supply-chains.</p>

  <p>In this increasingly resource-constrained world, it is in the interest of businesses to begin accounting for, as well as managing, their impacts and dependencies on natural capital…and this is where accountants can play a part.</p> 
</div>

</body>