<% content_for :title do %>About<% end %>

<h3> <b> Recent NEWS of Energy Management </b> </h3>
<p>


<div>

<h4> <b> West Virginia: Rate Hikes, Lack of Efficiency Programs

October 26, 2015 By Carl Weinschenk	</b> </h4>


<%= image_tag("virginia.jpg", :alt => "rss feed") %>

<p>West-virginiaCommercial businesses as well as residential consumers in West  Virginia are facing rate hikes and lack programs to drive efficiency and cost savings, according to the West Virginia Gazette Mail.</p>

<p>The story says that FirstEnergy and American Electric Power both have received rate increases of $62.5 million and $123.5 million this year. More hikes are pending.</p>

<p>However, the story says that the state lags behind others – including its neighbors – in offering programs such as energy audits, home appliance replacements, low-income weatherization and energy efficient lighting.</p>

<p>The state’s public service commission has not pushed the utilities to start new programs or expand those that are in place. The utilities claim that business and residential customers are reluctant to participate in such programs because of the West Virginia’s already low electricity rates.</p>

<p>Last month, The Texas Tribune reported that Texas jumped from 34th to 26th spot in rankings of energy efficiency from the American Council for an Energy-Efficiency Economy. The study looked at state initiatives, building codes, combined heat and power, utility policies, transportation and appliance efficiency, the story said.</p>

</div>


