<!DOCTYPE html>
<html>
<head>
	<h3>Utility Account</h3>	
</head>
<body>



<%= form_tag utility_accounts_path, :method => "get", id: "search-form" do %>
<%= text_field_tag :search, params[:search], :tabindex => "1", placeholder: "Search Account-No" %>
<%= submit_tag "Search", class: "btn btn-primary", :tabindex => "2", :account_no => nil %>

<% if @utility_accounts.present? %>
<% else %>
  <p>There are no utility account containing the term(s) <%= params[:search] %>.</p>
<% end %>

<% end %>
 
</body>
</html>
