
 <%= form_for :utility_accounts do |f| %>

  <p>
    <%= f.label :account_no %><br>
    <%= f.text_field :search, :tabindex => "1", :placeholder => "account no Search" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


 
